In [3]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('../data/SBAnational.csv', low_memory=False)

In [5]:
df.sample(5)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
785683,8336553000,MAU-SCHMALING INC,KENOSHA,WI,53142,BMO HARRIS BK NATL ASSOC,IL,0,13-May-95,1995,...,N,Y,NaN,31-Jul-95,"$46,875.00",$0.00,P I F,$0.00,"$46,875.00","$42,188.00"
812968,8713564006,"Manzanares Equity Management,",PLANTATION,FL,33324,INDEPENDENT DEVEL SERVICES COR,FL,611110,17-Mar-05,2005,...,0,N,NaN,15-Mar-06,"$1,008,000.00",$0.00,P I F,$0.00,"$1,008,000.00","$1,008,000.00"
155582,2132135007,All for Maddie Inc.,Lititz,PA,17543,MANUFACTURERS & TRADERS TR CO,NY,446199,17-Nov-06,2007,...,N,N,25-Aug-09,31-Dec-06,"$90,000.00",$0.00,CHGOFF,"$78,988.00","$90,000.00","$45,000.00"
196754,2388154010,S&S IRRIGATION INC AND SCOTT A,INDIANAPOLIS,IN,46236,THE HUNTINGTON NATIONAL BANK,IN,0,14-Oct-98,1999,...,0,N,NaN,31-Dec-98,"$160,000.00",$0.00,P I F,$0.00,"$160,000.00","$120,000.00"
608816,6046824008,RICK & KINDY MCINNIS,SPOKANE,WA,99212,WASHINGTON TRUST BANK,WA,722110,24-Jan-03,2003,...,0,Y,NaN,31-Jan-03,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$127,500.00"

## 1. Basic Information

In [6]:
print("There are {:,} obseravations and {} features in the dataset.".format(df.shape[0], df.shape[1]))
print(f'There are {len(df.select_dtypes(exclude=["object"]).columns)} Numerical features and {len(df.select_dtypes(include=["object"]).columns)} Categorical features in the dataset.')

There are 899,164 obseravations and 27 features in the dataset.
There are 10 Numerical features and 17 Categorical features in the dataset.

In [7]:
# feature info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      899164 non-null  int64
 1   Name               899150 non-null  object
 2   City               899134 non-null  object
 3   State              899150 non-null  object
 4   Zip                899164 non-null  int64
 5   Bank               897605 non-null  object
 6   BankState          897598 non-null  object
 7   NAICS              899164 non-null  int64
 8   ApprovalDate       899164 non-null  object
 9   ApprovalFY         899164 non-null  object
 10  Term               899164 non-null  int64
 11  NoEmp              899164 non-null  int64
 12  NewExist           899028 non-null  float64
 13  CreateJob          899164 non-null  int64
 14  RetainedJob        899164 non-null  int64
 15  FranchiseCode      899164 non-null  int64
 16  UrbanRural         899164 non-null  int64
 17  RevLineCr          894636 non-null  object
 18  LowDoc             896582 non-null  object
 19  ChgOffDate         162699 non-null  object
 20  DisbursementDate   896796 non-null  object
 21  DisbursementGross  899164 non-null  object
 22  BalanceGross       899164 non-null  object
 23  MIS_Status         897167 non-null  object
 24  ChgOffPrinGr       899164 non-null  object
 25  GrAppv             899164 non-null  object
 26  SBA_Appv           899164 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 185.2+ MB

### 1.1 Summary Statistics of Numerical Features

In [10]:
df.describe().T.round(3).style.applymap(lambda val: 'background-color: {}'.format('white' if val == 0 else 'lightyellow' 
                                                                             if val <= 10 else 'lightgreen' 
                                                                             if val <= 100 else 'lightblue' 
                                                                             if val <= 1000 else 'lightcoral' 
                                                                             if val <= 1000000 else 'purple')).format(precision=3)

### 1.2 Summary Statistics of Categorical Features

In [11]:
df.select_dtypes(include=["object"]).describe().style.apply(
    lambda x: ['background-color: lightblue' if x.name == 'count' else
               'background-color: lightgreen' if x.name == 'unique' else
               'background-color: lightcoral' if x.name == 'top' else
               'background-color: lightyellow' if x.name == 'freq' else ''
               for _ in x], axis=1
)

## 2. Data Preprocessing

### 2.1 Handling missing values

In [ ]:
print(f'There are total {df.isna().sum().sum()} values are missing in the data set.')

In [ ]:
df.isna().sum()

In [ ]:
miss_count = df.isna().sum()
miss_props = round((miss_count/ len(df))*100,4)
pd.DataFrame({
    'Column':miss_count.index,
    '# of Missing values':miss_count.values,
    'Proportion of Missing values':miss_props.map('{:.5f} %'.format).values
}).style.apply(lambda x: ['background-color: lightcoral' if float(val.rstrip('%')) > 50 else 'background-color: lightgreen' for val in x], subset=['Proportion of Missing values'])

In [ ]:
# drop 'ChgOffDate' , bcz it's missing proportion is 82%
df.drop('ChgOffDate', axis=1, inplace=True)

In [ ]:
# drop other missing value by removing the row (missing proportion is low)
df.dropna(inplace=True)

In [ ]:
df.isna().sum().sum()

### 2.2 Handling Features

#### 2.2.1 Handling monetary features

In [ ]:
df['DisbursementGross'].value_counts()

In [ ]:
# find symbols
regex_pattern = r'[^0-9]'

def find_symbols(cols):
    for col in cols:
        symbs = []
        for s in df[col]:
            sym = re.findall(regex_pattern, s)
            symbs.extend(sym)
        if symbs:
            symbs_str = ', '.join(set(symbs))
            print(f'Column: {col} ==> {symbs_str}')

In [ ]:
cols = ['DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']

find_symbols(cols)

In [ ]:
#remove , $ and ' '

In [ ]:
def remove_symbols(cols):
    for col in cols:
        df[col] = df[col].str.replace('$', '').str.replace(',', '').str.replace(' ', '')

In [ ]:
remove_symbols(cols)

In [ ]:
df['DisbursementGross'].value_counts()

In [ ]:
df['DisbursementGross'].dtype

In [ ]:
for col in cols:
    df[col] = df[col].astype('float64')

In [ ]:
df[cols].describe().T.round(3).style.map(lambda val: 'background-color: {}'.format('white' if val == 0 else 'lightyellow' 
                                                                             if val <= 10 else 'lightgreen' 
                                                                             if val <= 100 else 'lightblue' 
                                                                             if val <= 1000 else 'lightcoral' 
                                                                             if val <= 1000000 else 'purple')).format(precision=3)

#### 2.2.2 Handling Date features